name: test

on:
  workflow_dispatch:
    inputs:
      branch:
        description: "Branch or tag to publish (manual run)"
        required: true
  pull_request:
  push:
    branches:
      - main

jobs:
  build_libs:
    strategy:
      matrix:
        arch: ["x86_64", "aarch64"]
    runs-on: ${{ matrix.arch == 'aarch64' && 'ubuntu-24.04-arm' || 'ubuntu-latest' }}
    steps:
      - uses: actions/checkout@v5
        with:
          repository: apache/tvm-ffi
          ref: main
          fetch-depth: 0
          submodules: recursive
          path: tvm-ffi