name: test

on:
  workflow_dispatch:
    inputs:
      branch:
        description: "Branch or tag to publish (manual run)"
        required: true
  pull_request:
  push:

jobs:
  build_libs:
    strategy:
      fail-fast: false
      matrix:
        arch: ["x86_64", "aarch64"]
        python-version: ["cp39", "cp310", "cp311", "cp312", "cp313", "cp314"]
    runs-on: ${{ matrix.arch == 'aarch64' && 'ubuntu-24.04-arm' || 'ubuntu-latest' }}
    steps:
      - uses: actions/checkout@v5
        with:
          repository: cyx-6/tvm-ffi
          ref: torch-c-dlpack-script
          fetch-depth: 0
          submodules: recursive
          path: tvm-ffi
      - name: build torch libs
        run: |
          docker exec build_lib cd /tvm-ffi && ls && bash ./addons/torch_c_dlpack_ext/build_aot_libs.sh
